<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user_potential.email %>
</p>

<%= link_to 'Edit', edit_user_potential_path(@user_potential) %> |
<%= link_to 'Back', user_potentials_path %>
