.daily-task-mark-journal

  -unless @current_task.marked_today?
    Justin, were you able to
    =surround '"', '"' do
      =@current_task.name
    today?

    =link_to "Yes", user_task_completed_url(current_user.id, @current_task.id), class: "btn btn-success"
    =link_to "No", user_task_missed_url(current_user.id, @current_task.id), class: "btn btn-default"
  -else
    %p
      Great work completing Day
      =@current_task.day_count

    %h2
      Write about It

    =form_for @journal, :url => user_task_task_log_journal_url({user_id: current_user.id, task_id: @current_task.id, task_log_id: @current_task_log.id }) do |f|
      =f.text_area :text

      =f.submit