-if @current_task
  .page-header
    %h1
      %small
        Day
      =(@current_task.start_date - Date.today).abs.round + 1
      %small
        {
        =@current_task.name
        }

  =render :partial => "tasks/daily_task_mark_journal"
-else
  %h1
    You have no tasks yet. Let's start one!