-if @current_task
  .page-header
    %h1
      %small
        Day
      =@current_task.day_count
      %small
        {
        =@current_task.name
        }

  =render :partial => "tasks/daily_task_mark_journal"

-else
  =render :partial => "tasks/no_active_tasks"