.signup-well.well.well-lg.col-md-4
  .title
    Sign in
  .text-center
    = link_to "Sign in with <b>Facebook</b>".html_safe, user_omniauth_authorize_path(:facebook), class: "btn-auth btn-facebook large"

.explain-well.well.well-sm.col-md-4
  For our MVP, we are only implementing Facebook Login. Forgive us and Thanks for your understanding!

  .text-right
    %br
    \- For30Days Team