@import "colors";
@import "twitter-overrides";
@import "twitter/bootstrap";

//Shared
@import "navbar";
@import "footer";
@import "auth-buttons";
@import "flash-msgs";

//Pages
@import "home";
@import "users";


body{
  background: $light-grey;
}

#main-content{
  background: white;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 3em;
}