-if notice || alert
  .flash-msgs
    -if notice
      .alert.alert-success.notice
        =notice
    -if alert
      .alert.alert-danger
        =alert

#main-content
  = yield

=render :partial => "layouts/footer"
