-container = params[:controller] == "home" && !user_signed_in? ? "" : "container"

!!!
%html{lang: "en"}
  
  =render :partial => "layouts/head"

  %body
    =render :partial => "shared/navbar_main"
    #main-content
      %div{class: container}

        -if notice || alert
          .flash-msgs
            -if notice
              .alert.alert-success.notice
                =notice
            -if alert
              .alert.alert-danger
                =alert
        = yield

    =render :partial => "layouts/footer"