-container = params[:controller] == "home" && !user_signed_in? ? "" : "container"

!!!
%html{lang: "en"}
  
  =render :partial => "layouts/head"

  %body
    =render :partial => "shared/navbar_main"
    #main-content
      %div{class: container}

        -if notice || alert
          .container.flash-msgs
            .flash-msgs-inner
              -if notice
                .alert.alert-success.notice
                  =notice
                  %span.glyphicon.glyphicon-remove.flash-close
              -if alert
                .alert.alert-danger
                  =alert
                  %span.glyphicon.glyphicon-remove.flash-close
        = yield

    =render :partial => "layouts/footer"